Package: dr.ih8jam.decard
Name: deCard
Depends: firmware (>= 12.0)
Version: 1.0.0
Architecture: iphoneos-arm
Description: Simple way to customize Apple Pay cards
Maintainer: IH8Jam <matveytitor@gmail.com>
Author: IH8Jam <matveytitor@gmail.com>
Section: Applications
dev: IH8Jam
Icon: file:///Applications/deCard.app/AppIcon60x60@2x.png
