Package: com.appleworm.decard
Name: deCard
Depends: firmware (>= 13.0)
Version: 2.2.0
Architecture: iphoneos-arm
Description: UI 🍏 pay cards customizer
Maintainer: AppleWorm <applewormdev@gmail.com>
Author: AppleWorm <applewormdev@gmail.com>
Section: Applications
dev: AppleWorm
Icon: file:///Applications/deCard.app/Cards.bundle/icon_large.png
